*{background: #fff;}
body{width:960px;height:800px;margin:10px auto;}
#header{width:auto;height:200px;border-bottom:10px solid #aaa;}
#header h1{width:auto;height:125px;margin:0px}
#header h1 a{
    background: url(../images/0.jpg) no-repeat;
    display:block;
    text-indent: -9999px;
    width:auto;height:125px;)
}
#header ul{text-align: right;padding:15px 20px 0 0;}
#header ul li{display:inline;padding:0 0 0 5px;}
#header ul li strong.readed{
    background: url("../images/readed.png") no-repeat left center;
    padding:0 0 0 32px;
}
#header ul li strong.noread{
    background: url("../images/noread.png") no-repeat left center;
    padding:0 0 0 32px;
}
#header ul li a{
    text-decoration:none;
 }
#header ul li a:hover{
    color:red;
}#member{
     width: auto;
     height:600px;
     border:1px solid #aaa;
     font-size: 12px;
 }
#member h2{
    text-indent: 0;
    text-align: center;
}

#member .member_sidebar{
    width:300px;
    height:550px;
    border:1px dashed #aaa;
    margin:10px;
    float: left;
}
#member .member_sidebar dl{
    margin:0 12px;
}
#member .member_sidebar dl dd{
    width:200px;
    height:50px;
    line-height:50px;
    border:1px solid #aaa;
    text-align:center;
    background: #eee;
}
#member .member_sidebar dl dd.dt{
    background: #999;
}
#member .member_sidebar dl dd a{
    display: block;
    text-decoration: none;
    background: none;
    color:#333;
}
#member .member_sidebar dl dd  a:hover{
    background: #ccc;
}

#member .member_main{
    width:600px;
    height:550px;
    border:1px dashed #aaa;
    float: right;
    margin:10px;
}


#footer{
    width:auto;
    clear:both;
    font-size: 12px;
    text-align:center;
    letter-spacing: 1px;
    padding-top:30px;
}
#footer span{color:#1b7d1c;}
ul{list-style-type: none;}
h2{background:#eee;font-size:14px;margin:0;height:25px;line-height:25px;text-indent:5px;}

