#list{width:600px;height:500px;border:1px solid #aaa;float:right;margin:0;border-top:0;}
#vip{width:350px;height:248px;margin:0;border:1px solid #aaa;float:left;border-top:0;}
#pics{width:350px;height:245px;margin:5px 0;border:1px solid #aaa;float:left;}