#member .member_main dl{
    margin-top:30px;
}
#member .member_main dl dd{
    border-bottom:1px dashed #aaa;
    height:30px;
    width:500px;
    line-height:30px;
    font-size:14px;
    color:#111;
    font-family: Arial;
}
#member .member_main dl dd span{
    width:60px;
    height:20px;
    display: block;
    float: left;
    text-align: right;
    margin-right:10px;
    font-style:normal;

}