#member .member_main dl dd{
    padding:5px;
    margin:0 10px;
    font-size: 14px;
    text-indent: 5px;
}
#member .member_main dl dd input{
    font-size: 12px;
    cursor:pointer;
    background: #ccc;
}